<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <%- include('../partials/head'); %>
        <title>🎁 Game Gifters | Employees</title>

        <% scripts.forEach(function(script) { %>
        <script src="js/<%= script %>" async></script>
        <% }) %> <% if (employees) { %>
        <script>
            let employeeInfo = <%- JSON.stringify(employees) %>;
        </script>
        <% } %>
    </head>

    <body class="d-flex h-100 text-center text-white bg-dark table-page">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <%- include('../partials/header'); %>

            <main class="small-box table-page">
                <h2>Employees</h2>

                <div class="dropdown">
                    <a
                        class="
                            btn
                            dropdown-button
                            fw-bold
                            border-white
                            bg-white
                            dropdown-toggle
                        "
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Select Action
                    </a>

                    <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuLink"
                    >
                        <li>
                            <a
                                class="dropdown-item"
                                onclick="showModal('add-modal')"
                                >Add Employee</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                onclick="showModal('delete-modal')"
                                >Delete Employees</a
                            >
                        </li>
                        <!-- <li>
                            <a class="dropdown-item" onclick="filter()"
                                >Filter</a
                            >
                        </li> -->
                    </ul>
                </div>

                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">
                        Employees / <strong>All</strong>
                    </div>

                    <div class="card-body">
                        <div class="data-desc">
                            <h5 class="card-title">💼 Employee Database</h5>
                            <p style="font-size: 13px">
                                The following table records all Employees
                                working at a mid-sized company of up to 200
                                employees, and allows you to add, update, and
                                filter the entries.
                            </p>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">&#128465;</th>
                                    <th scope="col">&#x270E;</th>
                                    <th scope="col">Employee ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone</th>
                                    <th scope="col">Birthdate</th>
                                </tr>
                            </thead>
                            <tbody id="employees-table-body">
                                <% employees.forEach(function(employee) { %>
                                <tr>
                                    <td>
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            name="delete-row"
                                            value="<%= employee.employee_id %>"
                                        />
                                    </td>
                                    <td>
                                        <a
                                            class="update"
                                            href="#"
                                            onclick="showModal('update-modal', <%= employee.employee_id %>, populateUpdateEmployeeFields)"
                                            >&#128221;</a
                                        >
                                    </td>
                                    <td><%= employee.employee_id %></td>
                                    <td><%= employee.first_name %></td>
                                    <td><%= employee.last_name %></td>
                                    <td><%= employee.department %></td>
                                    <td><%= employee.email %></td>
                                    <td><%= employee.phone %></td>
                                    <td>
                                        <%= employee.formatted_date_of_birth %>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>

            <%- include('../partials/footer'); %>

            <!-- Pop-up Form Hidden, Source: https://www.w3schools.com/howto/howto_css_modals.asp -->

            <!-- Add Employee Modal -->
            <div id="add-modal" class="modal">
                <div class="modal-content form-desc">
                    <span class="close" onclick="closeModal('add-modal')"
                        >&times;</span
                    ><br />

                    <h2>New Employee</h2>
                    <p>Add a new Employee to the database.</p>
                    <br />

                    <form id="add-employee-form" form auto>
                        <div class="row g-2">
                            <div class="form-floating col">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="first-name"
                                    id="first-name"
                                    placeholder="John"
                                    autocomplete="off"
                                    required
                                />
                                <label for="firstName">First Name</label>
                            </div>
                            <div class="form-floating col">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="last-name"
                                    id="last-name"
                                    placeholder="Smith"
                                    autocomplete="off"
                                    required
                                />
                                <label for="last-name">Last Name</label>
                            </div>
                        </div>

                        <div class="row g-2" style="padding-top: 1.6em">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input
                                        type="email"
                                        class="form-control"
                                        name="email"
                                        id="email"
                                        placeholder="jsmith@example.com"
                                        autocomplete="off"
                                    />
                                    <label for="email">Email Address</label>
                                </div>
                            </div>
                        </div>

                        <div
                            class="form-group row g-2"
                            style="padding-top: 1.6em"
                        >
                            <div class="form-floating col">
                                <div class="form-floating">
                                    <select
                                        class="form-select"
                                        name="department"
                                        id="department"
                                    >
                                        <option value="" selected>
                                            Select a department
                                        </option>
                                        <option value="Engineering">
                                            Engineering
                                        </option>
                                        <option value="Finance">Finance</option>
                                        <option value="Human Resources">
                                            Human Resources
                                        </option>
                                        <option value="Marketing">
                                            Marketing
                                        </option>
                                        <option value="Operations">
                                            Operations
                                        </option>
                                        <option value="IT">
                                            Information Technology
                                        </option>
                                    </select>
                                    <label for="department">Department</label>
                                </div>
                            </div>
                            <div class="form-floating col">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="phone"
                                    id="phone"
                                    placeholder="555-555-5555"
                                    autocomplete="off"
                                />
                                <label for="phone">Phone Number</label>
                            </div>
                            <div class="form-floating col">
                                <input
                                    type="date"
                                    class="form-control"
                                    name="birthdate"
                                    id="birthdate"
                                    required
                                />
                                <label for="birthdate">Birthdate</label>
                            </div>
                        </div>

                        <div class="col-auto" style="padding-top: 3em">
                            <button type="submit" class="btn btn-primary mb-3">
                                Add Employee
                            </button>
                        </div>
                    </form>
                    <br />
                    <span class="error" id="add-error-message"></span>
                </div>
            </div>

            <!-- Update Employee Modal -->
            <div id="update-modal" class="modal">
                <div class="modal-content form-desc">
                    <span class="close" onclick="closeModal('update-modal')"
                        >&times;</span
                    ><br />

                    <h2>Update Employee</h2>
                    <p>
                        Change information of an existing employee in the
                        database.
                    </p>
                    <br />

                    <form id="update-employee-form">
                        <div class="row g-2">
                            <div class="form-floating col">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="update-first-name"
                                    id="update-first-name"
                                    required
                                />
                                <label for="update-first-name"
                                    >First Name</label
                                >
                            </div>
                            <div class="form-floating col">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="update-last-name"
                                    id="update-last-name"
                                    required
                                />
                                <label for="update-last-name">Last Name</label>
                            </div>
                        </div>

                        <div class="row g-2" style="padding-top: 1.6em">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input
                                        type="email"
                                        class="form-control"
                                        name="update-email"
                                        id="update-email"
                                    />
                                    <label for="update-email"
                                        >Email address</label
                                    >
                                </div>
                            </div>
                        </div>

                        <div
                            class="form-group row g-2"
                            style="padding-top: 1.6em"
                        >
                            <div class="form-floating col">
                                <div class="form-floating">
                                    <select
                                        class="form-select"
                                        name="update-department"
                                        id="update-department"
                                    >
                                        <option value="" selected>
                                            Select a department
                                        </option>
                                        <option value="Engineering">
                                            Engineering
                                        </option>
                                        <option value="Finance">Finance</option>
                                        <option value="Human Resources">
                                            Human Resources
                                        </option>
                                        <option value="Marketing">
                                            Marketing
                                        </option>
                                        <option value="Operations">
                                            Operations
                                        </option>
                                        <option value="IT">
                                            Information Technology
                                        </option>
                                    </select>
                                    <label for="update-department"
                                        >Department</label
                                    >
                                </div>
                            </div>
                            <div class="form-floating col">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="update-phone"
                                    id="update-phone"
                                />
                                <label for="update-phone">Phone Number</label>
                            </div>
                            <div class="form-floating col">
                                <input
                                    type="date"
                                    class="form-control"
                                    id="update-birthdate"
                                />
                                <label for="update-birthdate">Birthdate</label>
                            </div>
                        </div>

                        <div class="col-auto" style="padding-top: 3em">
                            <button type="submit" class="btn btn-primary mb-3">
                                Update Employee
                            </button>
                        </div>
                    </form>
                    <br />
                    <span class="error" id="update-error-message"></span>
                </div>
            </div>

            <!-- Delete Employee Modal -->
            <div id="delete-modal" class="modal">
                <div class="modal-content form-desc">
                    <span class="close" onclick="closeModal('delete-modal')"
                        >&times;</span
                    ><br />

                    <h2>Remove Employee</h2>
                    <p>
                        Are you sure you want to remove the selected Employees?
                    </p>
                    <br />

                    <form id="delete-employee-form">
                        <div class="d-grid gap-2 d-md-block">
                            <button
                                class="btn btn-outline-danger"
                                type="submit"
                            >
                                Yes
                            </button>
                            <button
                                class="btn btn-outline-primary"
                                type="button"
                                onclick="closeModal('delete-modal')"
                            >
                                No
                            </button>
                        </div>
                    </form>
                    <br />
                    <span class="error" id="delete-error-message"></span>
                </div>
            </div>

            <!-- Filter Modal
            <div id="filterModal" class="modal">
                <div class="modal-content form-desc">
                    <span class="close" onclick="closeModal('filterModal')"
                        >&times;</span
                    ><br />

                    <h2>Filter Employees</h2>
                    <p>
                        Display employees based on the department they work in.
                    </p>
                    <br />

                    <form>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                id="inlineCheckbox1"
                                value="option1"
                            />
                            <label
                                class="form-check-label"
                                for="inlineCheckbox1"
                                >Engineering</label
                            >
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                id="inlineCheckbox2"
                                value="option2"
                            />
                            <label
                                class="form-check-label"
                                for="inlineCheckbox2"
                                >Finance</label
                            >
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                id="inlineCheckbox3"
                                value="option3"
                            />
                            <label
                                class="form-check-label"
                                for="inlineCheckbox3"
                                >HR</label
                            >
                        </div>
                        <br /><br />
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                id="inlineCheckbox4"
                                value="option4"
                            />
                            <label
                                class="form-check-label"
                                for="inlineCheckbox4"
                                >Marketing</label
                            >
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                id="inlineCheckbox5"
                                value="option5"
                            />
                            <label
                                class="form-check-label"
                                for="inlineCheckbox5"
                                >Operations</label
                            >
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="checkbox"
                                id="inlineCheckbox6"
                                value="option6"
                            />
                            <label
                                class="form-check-label"
                                for="inlineCheckbox6"
                                >IT</label
                            >
                        </div>

                        <div class="col-auto" style="padding-top: 3em">
                            <button type="submit" class="btn btn-primary mb-3">
                                Submit
                            </button>
                        </div>
                    </form>
                    <br />
                </div>
            </div> -->
        </div>
    </body>
</html>
