<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <%- include('../partials/head'); %>
        <title>🎁 Game Gifters | Gifts</title>

        <% scripts.forEach(function(script) { %>
            <script src="js/<%= script %>" async></script>
        <% }) %>
        <% if (gifts) { %>
            <script>
                let giftInfo = <%- JSON.stringify(gifts) %>;
            </script>
        <% } %>

    </head>

    <body class="d-flex h-100 text-center text-white bg-dark table-page">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <%- include('../partials/header'); %>

            <main class="small-box table-page">
                <h2>Gifts</h2>

                <div class="dropdown">
                    <a
                        class="
                            btn
                            dropdown-button
                            fw-bold
                            border-white
                            bg-white
                            dropdown-toggle
                        "
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Select Action
                    </a>

                    <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuLink"
                    >
                        <li>
                            <a class="dropdown-item" onclick="showModal('addModal')"
                                >Add Gift</a
                            >
                        </li>
                        <li>
                            <a
                                class="dropdown-item"
                                onclick="showModal('deleteModal')"
                                >Delete Gift</a
                            >
                        </li>
                    </ul>
                </div>

                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Gifts / <strong>All</strong></div>

                    <div class="card-body">
                        <div class="data-desc">
                            <h5 class="card-title">🎁 Gift Database</h5>
                            <p style="font-size: 13px">
                                The following table records a list of gifts that
                                have been given by employees to fulfill the wish
                                of other employees, and allows you to add,
                                delete, and filter the entries.
                            </p>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">&#128465;</th>
                                    <th scope="col">&#x270E;</th>
                                    <th scope="col">Gift ID</th>
                                    <th scope="col">Associated Wish ID</th>
                                    <th scope="col">Game Title</th>
                                    <th scope="col">Sender Employee ID</th>
                                    <th scope="col">Sender Name</th>
                                    <th scope="col">Recipient Name</th>
                                    <th scope="col">Date Sent</th>
                                </tr>
                            </thead>
                            <tbody id="gifts-table-body">
                                <% gifts.forEach(function(gift) { %>
                                <tr>
                                    <td>
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            name="deleteRow"
                                            value="<%= gift.gift_id %>"
                                        />
                                    </td>
                                    <td>
                                        <a
                                            class="update"
                                            href="#"
                                            onclick="showModal('updateModal', <%= gift.gift_id %>, populateUpdateGiftFields)"
                                            >&#128221;</a
                                        >
                                    </td>
                                    <td><%= gift.gift_id %></td>
                                    <td><%= gift.associated_wish_id %></td>
                                    <td><%= gift.game_title %></td>
                                    <td><%= gift.sender_id %></td>
                                    <td>
                                        <% if (gift.sender_id) { %> <%=
                                        gift.sender_first_name + ' ' +
                                        gift.sender_last_name %> <% } %>
                                    </td>
                                    <td>
                                        <%= gift.recipient_first_name + ' ' +
                                        gift.recipient_last_name %>
                                    </td>
                                    <td><%= gift.formatteed_date_sent %></td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>

            <%- include('../partials/footer'); %>
        </div>

        <!-- Pop-up Form Hidden, Source: https://www.w3schools.com/howto/howto_css_modals.asp -->

        <!-- Add Gift Modal -->
        <div id="addModal" class="modal">
            <div class="modal-content form-desc">
                <span class="close" onclick="closeModal('addModal')">&times;</span><br />

                <h2>New Gift</h2>
                <p>Add a new employee gift to the database.</p>
                <br />

                <form id="add-gift-form">
                    <div class="row g-2" style="padding-top: 1.6em">
                        <div class="col-md">
                            <div class="form-floating">
                                <select
                                    class="form-select"
                                    id="wishID"
                                    required
                                >
                                    <option value="" selected>
                                        Select a wish to fulfill
                                    </option>
                                    <% unfulfilledWishes.forEach(function(wish)
                                    { %>
                                    <option
                                        value="<%= wish.wish_id %>"
                                        data-game="<%= wish.game_title %>"
                                        data-recipient="<%= wish.first_name %> <%= wish.last_name %>"
                                    >
                                        <%= wish.game_title %> for <%=
                                        wish.first_name %> <%= wish.last_name %>
                                        [<%= wish.wish_id %>]
                                    </option>
                                    <% }); %>
                                </select>
                                <label for="wishID">Wish</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row g-2" style="padding-top: 1.6em">
                        <div class="form-floating col">
                            <div class="form-floating">
                                <select class="form-select" id="senderID">
                                    <option value="" selected>
                                        Select a sender (optional)
                                    </option>
                                    <% employees.forEach(function(employee) { %>
                                    <option
                                        value="<%= employee.employee_id %>"
                                        data-sender="<%= employee.first_name %> <%= employee.last_name %>"
                                    >
                                        <%= employee.first_name %> <%=
                                        employee.last_name %> [<%=
                                        employee.employee_id %>]
                                    </option>
                                    <% }); %>
                                </select>
                                <label for="wishID">Sender</label>
                            </div>
                        </div>

                        <div class="form-floating col">
                            <input
                                type="date"
                                class="form-control"
                                name="dateSent"
                                id="dateSent"
                                required
                            />
                            <label for="dateSent">Date Sent</label>
                        </div>
                    </div>

                    <div class="col-auto" style="padding-top: 3em">
                        <button type="submit" class="btn btn-primary mb-3">
                            Add Gift
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Update Gift Modal -->
        <div id="updateModal" class="modal">
            <div class="modal-content form-desc">
                <span class="close" onclick="closeModal('updateModal')"
                    >&times;</span
                ><br />

                <h2>Update Gift</h2>
                <p>
                    Change information of an existing gift in the
                    database.
                </p>
                <br />

                <form id="update-gift-form">
                    <div class="row g-2" style="padding-top: 1.6em">
                        <div class="col-md">
                            <div class="form-floating">
                                <input
                                    type="text"
                                    class="form-control"
                                    name="edited-wish"
                                    id="edited-wish"
                                    autocomplete="off"
                                    readonly
                                />
                                <label for="edited-wish">Wish to Update</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row g-2" style="padding-top: 1.6em">
                        <div class="form-floating col">
                            <div class="form-floating">
                                <select class="form-select" id="update-sender-id">
                                    <option value="">
                                        Select a sender (optional)
                                    </option>
                                    <% employees.forEach(function(employee) { %>
                                    <option
                                        value="<%= employee.employee_id %>"
                                        data-sender="<%= employee.first_name %> <%= employee.last_name %>"
                                    >
                                        <%= employee.first_name %> <%=
                                        employee.last_name %> [<%=
                                        employee.employee_id %>]
                                    </option>
                                    <% }); %>
                                </select>
                                <label for="update-sender-id">Sender</label>
                            </div>
                        </div>

                        <div class="form-floating col">
                            <input
                                type="date"
                                class="form-control"
                                name="dateSent"
                                id="update-date-sent"
                                required
                            />
                            <label for="update-date-sent">Date Sent</label>
                        </div>
                    </div>

                    <div class="col-auto" style="padding-top: 3em">
                        <button type="submit" class="btn btn-primary mb-3">
                            Update Gift
                        </button>
                    </div>
                </form>
                <br />
            </div>
        </div>

        <!-- Delete Gift Modal -->
        <div id="deleteModal" class="modal">
            <div class="modal-content form-desc">
                <span class="close" onclick="closeModal('deleteModal')"
                    >&times;</span
                ><br />

                <h2>Remove Gift</h2>
                <p>
                    Are you sure you want to remove the selected Gift?
                </p>
                <br />

                <form id="delete-gift-form">
                    <div class="d-grid gap-2 d-md-block">
                        <button
                            class="btn btn-outline-danger"
                            type="submit"
                        >
                            Yes
                        </button>
                        <button
                            class="btn btn-outline-primary"
                            type="button"
                            onclick="closeModal('deleteModal')"
                        >
                            No
                        </button>
                    </div>
                </form>
                <br />
            </div>
        </div>
    </body>
</html>
