<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <%- include('../partials/head'); %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/side-styles.css" rel="stylesheet">
    <title>🎁 Game Gifters | Wishes</title>
</head>

<body class="d-flex h-100 text-center text-white bg-dark">

  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <%- include('../partials/header'); %>

      <main class="small-box">
        <h2>Wishes</h2>

        <div class="dropdown">
          <a class="btn my-button fw-bold border-white bg-white dropdown-toggle" data-bs-toggle="dropdown"
            aria-expanded="false">
            Select Action
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" onclick="addEntry()">Add Wish</a></li>
            <li><a class="dropdown-item" onclick="deleteEntry()">Delete Wish</a></li>
            <li><a class="dropdown-item" onclick="filter()">Filter</a></li>
          </ul>
        </div>

        <div class="card text-dark bg-light mb-3">
          <div class="card-header">Wishes / <strong>All</strong></div>

          <div class="card-body">
            <div class="data-desc">
              <h5 class="card-title">🎲 Wish Database</h5>
              <p style="font-size: 13px;">The following table records a list of gifts that have been given by employees
                to fulfill the wish of other employees,
                and allows you to add, delete, and filter the entries.</p>
            </div>

            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">Wish ID</th>
                  <th scope="col">Game ID</th>
                  <th scope="col">Game Title</th>
                  <th scope="col">Employee ID</th>
                  <th scope="col">Employee Name</th>
                  <th scope="col">Wish Date</th>
                  <th scope="col">Fulfilled</th>
                </tr>
              </thead>
              <tbody>
                <% data.forEach(function(wish) { %>
                  <tr>
                      <td></td>
                      <th scope="row"><input class="form-check-input" type="checkbox"></th>
                      <td><%= wish.wish_id %></td>
                      <td><%= wish.game_id %></td>
                      <td><%= wish.game_title %></td>
                      <td><%= wish.associated_employee_id %></td>
                      <td><%= wish.first_name + ' ' + wish.last_name %></td>
                      <td><%= wish.date_wished %></td>
                      <td><%= wish.fulfilled %></td>
                  </tr>
                <% }); %>
                
                <!-- Fulfilled yes/no graphic...save for later
                <i class="fa fa-check-circle-o green"></i><span class="ms-1">Yes</span>
                <i class="fa fa-dot-circle-o text-danger"></i><span class="ms-1">No</span> -->
              </tbody>
            </table>
          </div>
        </div>
      </main>

    <%- include('../partials/footer'); %>

  </div>

  <!-- Pop-up Form Hidden, Source: https://www.w3schools.com/howto/howto_css_modals.asp -->

  <!-- Add Wish Modal -->
  <div id="modalBox1" class="modal">
    <div class="modal-content form-desc">
      <span class="close" onclick="close1()">&times;</span><br>

      <h2>New Wish</h2>
      <p>Add a new employee wish to the database.</p><br>

      <form>
        <div class="row mb-3">
          <label for="datalist" class="col-sm-2 col-form-label">Game Title</label>
          <div class="col-sm-10">
            <input class="form-control" list="datalistOptions" id="datalist" placeholder="Type to search..." required>
            <datalist id="datalistOptions">
              <option value="Don't Starve Together">
              <option value="Divinity: Original Sin 2">
              <option value="Cat Quest 2">
              <option value="Phasmobia">
              <option value="100% Orange Juice">
            </datalist>
          </div>
        </div>

        <div class="row g-2" style="padding-top: 1.6em;">
          <div class="col-md form-floating">
            <input type="text" class="form-control" id="floating1" placeholder="First Name" required>
            <label for="floating1">Employee First Name</label>
          </div>
          <div class="col-md form-floating">
            <input type="text" class="form-control" id="floating2" placeholder="Last Name" required>
            <label for="floating2">Employee Last Name</label>
          </div>
          <div class="form-floating col">
            <input type="date" class="form-control" id="today" placeholder="Date Wished">
            <label for="today">Wish Date</label>
          </div>
        </div>

        <div class="row g-2" style="padding: 1.2em;">
          <div class="col-md form-check form-switch" style="text-align: left;">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Wish fulfilled</label>
          </div>
        </div>

        <div class="col-auto" style="padding-top: 3em;">
          <button type="submit" class="btn btn-primary mb-3">Add Wish</button>
        </div>
      </form>
      <br>
    </div>
  </div>

  <!-- Delete Wish Modal -->
  <div id="modalBox2" class="modal">
    <div class="modal-content form-desc">
      <span class="close" onclick="close2()">&times;</span><br>

      <h2>Remove Wish</h2>
      <p>Are you sure you want to remove the selected Wishes?</p><br>

      <form>
        <div class="d-grid gap-2 d-md-block">
          <button class="btn btn-outline-danger" type="button" onclick="close2()">Yes</button>
          <button class="btn btn-outline-primary" type="button" onclick="close2()">No</button>
        </div>
      </form>
      <br>
    </div>
  </div>

  <!-- Filter Modal -->
  <div id="modalBox3" class="modal">
    <div class="modal-content form-desc">
      <span class="close" onclick="close3()">&times;</span><br>

      <h2>Filter Wishes</h2>
      <p>Display wishes from a specific employee.</p><br>

      <form>
        <div class="row g-2">
          <div class="form-floating col">
            <input type="text" class="form-control" id="floating1" placeholder="First name" required>
            <label for="floating1">First Name</label>
          </div>
          <div class="form-floating col">
            <input type="text" class="form-control" id="floating2" placeholder="Last name" required>
            <label for="floating2">Last Name</label>
          </div>
        </div>

        <div class="col-auto" style="padding-top: 3em;">
          <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
      </form>
      <br>
    </div>
  </div>

  <!-- Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="js/script.js"></script>

  <!-- Custom Scripts -->
  <script>
    function deleteEntry() { // user clicks on action button
      document.getElementById("modalBox2").style.display = "block";
    }

    document.querySelector("#today").valueAsDate = new Date();
  </script>


</body>

</html>