<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <%- include('../partials/head'); %>
        <title>🎁 Game Gifters | Wishes</title>

        <% scripts.forEach(function(script) { %>
            <script src="js/<%= script %>" async></script>
        <% }) %>
        <% if (wishes) { %>
            <script>
                let wishInfo = <%- JSON.stringify(wishes) %>;
            </script>
        <% } %>
    </head>

    <body class="d-flex h-100 text-center text-white bg-dark table-page">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <%- include('../partials/header'); %>

            <main class="small-box table-page">
                <h2>Wishes</h2>

                <div class="dropdown">
                    <a
                        class="
                            btn
                            dropdown-button
                            fw-bold
                            border-white
                            bg-white
                            dropdown-toggle
                        "
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        Select Action
                    </a>

                    <ul
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuLink"
                    >
                        <li>
                            <a class="dropdown-item" onclick="showModal('add-modal')"
                                >Add Wish</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" onclick="showModal('delete-modal')"
                                >Delete Wish</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" onclick="showModal('filter-modal')"
                                >Filter</a
                            >
                        </li>
                    </ul>
                </div>

                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Wishes / 
                            <strong>
                            <% if (locals.searchQuery) { %>
                                Filter:
                            </strong>
                                <%= searchQuery %> | <a href="/wishes">Clear Filter</a>
                            <% } else { %>
                                All
                            </strong>
                            <% } %>
                    </div>

                    <div class="card-body">
                        <div class="data-desc">
                            <h5 class="card-title">🎲 Wish Database</h5>
                            <p style="font-size: 13px">
                                The following table records a list of wishes
                                made by employees and allows you to add, delete,
                                and filter the entries.
                            </p>
                        </div>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">&#128465;</th>
                                    <th scope="col">&#x270E;</th>
                                    <th scope="col">Wish ID</th>
                                    <th scope="col">Game ID</th>
                                    <th scope="col">Game Title</th>
                                    <th scope="col">Employee ID</th>
                                    <th scope="col">Employee Name</th>
                                    <th scope="col">Wish Date</th>
                                    <th scope="col">Fulfilled</th>
                                </tr>
                            </thead>
                            <tbody id="wishes-table-body">
                                <% wishes.forEach(function(wish) { %>
                                <tr>
                                    <td>
                                        <input
                                        class="form-check-input"
                                        type="checkbox"
                                        name="delete-row"
                                        value="<%= wish.wish_id %>"
                                        >
                                    </td>
                                    <td>
                                        <a
                                            class="update"
                                            href="#"
                                            onclick="showModal('update-modal', <%= wish.wish_id %>, populateUpdateWishFields)"
                                            >&#128221;</a
                                        >
                                    </td>
                                    <td><%= wish.wish_id %></td>
                                    <td><%= wish.game_id %></td>
                                    <td><%= wish.game_title %></td>
                                    <td><%= wish.associated_employee_id %></td>
                                    <td>
                                        <%= wish.first_name + ' ' +
                                        wish.last_name %>
                                    </td>
                                    <td><%= wish.date_wished_formatted %></td>
                                    <td>
                                        <% if (wish.fulfilled) { %>
                                        <i
                                            class="fa fa-check-circle-o green"
                                        ></i
                                        ><i class="ms-1"></i>Yes
                                        <% } else { %>
                                        <i
                                            class="
                                                fa fa-dot-circle-o
                                                text-danger
                                            "
                                        ></i
                                        ><i class="ms-1"></i>No
                                        <% } %>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>

            <%- include('../partials/footer'); %>
        </div>

        <!-- Pop-up Form Hidden, Source: https://www.w3schools.com/howto/howto_css_modals.asp -->

        <!-- Add Wish Modal -->
        <div id="add-modal" class="modal">
            <div class="modal-content form-desc">
                <span class="close" onclick="closeModal('add-modal')">&times;</span><br />

                <h2>New Wish</h2>
                <p>Add a new employee wish to the database.</p>
                <br />

                <form id="add-wish-form">
                    <div class="row mb-3" style="padding-top: 1.6em">
                        <div class="form-floating col-md">
                            <select
                                class="form-select"
                                name="employee-id"
                                id="employee-id"
                                required
                            >
                                <option value="" selected>
                                    Select an employee
                                </option>
                                <% employees.forEach(function(employee) { %>
                                <option
                                    value="<%= employee.employee_id %>"
                                    data-employee="<%= employee.first_name + ' ' + employee.last_name %>"
                                >
                                    <%= employee.first_name %> <%=
                                    employee.last_name %> [<%=
                                    employee.employee_id %>]
                                </option>
                                <% }); %>
                            </select>
                            <label for="employee-id">Employee</label>
                        </div>
                    </div>

                    <div class="row g-2" style="padding-top: 1.6em">
                        <div class="form-floating col">
                            <select class="form-select" name="game-id" id="game-id" required>
                                <option value="" selected>Select a game</option>
                                <% games.forEach(function(game) { %>
                                <option
                                    value="<%= game.app_id %>"
                                    data-title="<%= game.title %>"
                                >
                                    <%= game.title %> [<%= game.app_id %>]
                                </option>
                                <% }); %>
                            </select>
                            <label for="game-id">Game</label>
                        </div>

                        <div class="form-floating col">
                            <input
                                type="date"
                                class="form-control"
                                name="date-wished"
                                id="date-wished"
                                required
                            />
                            <label for="date-wished">Wish Date</label>
                        </div>
                    </div>

                    <div class="col-auto" style="padding-top: 3em">
                        <button type="submit" class="btn btn-primary mb-3">
                            Add Wish
                        </button>
                    </div>
                </form>
                <br />
                <span class="error" id="add-error-message"></span>
            </div>
        </div>

        <!-- Update Employee Modal -->
        <div id="update-modal" class="modal">
            <div class="modal-content form-desc">
                <span class="close" onclick="closeModal('update-modal')"
                    >&times;</span
                ><br />

                <h2>Update Wish</h2>
                <p>
                    Change information of an existing wish in the
                    database.
                </p>
                <br />

                <form id="update-wish-form">
                    <div class="row mb-3" style="padding-top: 1.6em">
                        <div class="form-floating col-md">
                            <select
                                class="form-select"
                                name="update-employee-id"
                                id="update-employee-id"
                                required
                            >
                                <option value="">
                                    Select an employee
                                </option>
                                <% employees.forEach(function(employee) { %>
                                <option
                                    value="<%= employee.employee_id %>"
                                    data-employee="<%= employee.first_name + ' ' + employee.last_name %>"
                                >
                                    <%= employee.first_name %> <%=
                                    employee.last_name %> [<%=
                                    employee.employee_id %>]
                                </option>
                                <% }); %>
                            </select>
                            <label for="update-employee-id">Employee</label>
                        </div>
                    </div>

                    <div class="row g-2" style="padding-top: 1.6em">
                        <div class="form-floating col">
                            <select class="form-select" name="update-game-id" id="update-game-id" required>
                                <option value="">Select a game</option>
                                <% games.forEach(function(game) { %>
                                <option
                                    value="<%= game.app_id %>"
                                    data-title="<%= game.title %>"
                                >
                                    <%= game.title %> [<%= game.app_id %>]
                                </option>
                                <% }); %>
                            </select>
                            <label for="update-game-id">Game</label>
                        </div>

                        <div class="form-floating col">
                            <input
                                type="date"
                                class="form-control"
                                name="update-date-wished"
                                id="update-date-wished"
                                required
                            />
                            <label for="update-date-wished">Wish Date</label>
                        </div>
                    </div>

                    <div class="col-auto" style="padding-top: 3em">
                        <button type="submit" class="btn btn-primary mb-3">
                            Update Wish
                        </button>
                    </div>
                </form>
                <br />
                <span class="error" id="update-error-message"></span>
            </div>
        </div>

        <!-- Delete Wish Modal -->
        <div id="delete-modal" class="modal">
            <div class="modal-content form-desc">
                <span class="close" onclick="closeModal('delete-modal')">&times;</span><br />

                <h2>Remove Wish</h2>
                <p>Are you sure you want to remove the selected Wishes?</p>
                <br />

                <form id="delete-wish-form">
                    <div class="d-grid gap-2 d-md-block">
                        <button
                            class="btn btn-outline-danger"
                            type="submit"
                        >
                            Yes
                        </button>
                        <button
                            class="btn btn-outline-primary"
                            type="button"
                            onclick="closeModal('delete-modal')"
                        >
                            No
                        </button>
                    </div>
                </form>
                <br />
                <span class="error" id="delete-error-message"></span>
            </div>
        </div>

        <!-- Filter Modal -->
        <div id="filter-modal" class="modal">
            <div class="modal-content form-desc">
                <span class="close" onclick="closeModal('filter-modal')">&times;</span><br />

                <h2>Filter Wishes</h2>
                <p>Enter a whole or partial employee name to search for associated wishes.</p>
                <br />

                <form id="filter-by-name" method="GET" action="/wishes">
                    <div class="row g-2">
                        <div class="form-floating col">
                            <input
                                type="text"
                                class="form-control"
                                id="first-name-earch"
                                name="firstName"
                                placeholder="John"
                                autocomplete="off"
                            />
                            <label for="firstNameSearch">First Name</label>
                        </div>
                        <div class="form-floating col">
                            <input
                                type="text"
                                class="form-control"
                                id="last-name-search"
                                name="lastName"
                                placeholder="Smith"
                                autocomplete="off"
                            />
                            <label for="lastNameSearch">Last Name</label>
                        </div>
                    </div>

                    <div class="col-auto" style="padding-top: 3em">
                        <button type="submit" class="btn btn-primary mb-3">
                            Search
                        </button>
                    </div>
                </form>
                <br />
            </div>
        </div>
    </body>
</html>
